---
import type { CollectionEntry } from "astro:content";
import { getFormattedDate } from "@/utils";

interface Props {
  project: CollectionEntry<"project">;
}

const { project } = Astro.props;
const { title, description, stack, pubDate } = project.data;
const formattedDate = getFormattedDate(pubDate);
---

<li class="cody-bg p-4 rounded hover:translate-x-1 transition-all duration-200">
  <div class="flex flex-col gap-2">
    <div class="flex items-center justify-between mb-2">
      <a href={`/project/${project.slug}/`} class="text-lg font-semibold hover:text-accent-2 transition-colors">
        {title}
      </a>
      <span class="text-sm text-accent-2 opacity-70">{formattedDate}</span>
    </div>
    <p class="text-sm mb-3">{description}</p>
    {stack && stack.length > 0 && (
      <div class="flex flex-wrap gap-2 mt-1">
        {stack.map((tech) => (
          <span class="inline-flex items-center px-2.5 py-0.5 rounded text-xs font-medium bg-accent-2 text-bgColor">
            {tech}
          </span>
        ))}
      </div>
    )}
  </div>
</li> 